.profile-btn {
  margin: 25px 0 0;
  &__link {
    @include text;
    border: 1px solid $orange;
    font-weight: bold;
    padding: 6px 12px;
  }
}

.slider {
  margin-bottom: 95px;
  display: flex;
}
.radio {
  width: 10px;
  height: 10px;
  border: 1px solid $orange;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  background-color: $orange;
  &:hover {
    background-color: $white;
  }
}
