@mixin head-text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
@mixin head-title {
  font-size: 60px;
  line-height: 66px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.head {
  position: relative;
  justify-content: center;
  margin-top: 110px;
  text-align: center;

  &__text {
    @include head-text;
    color: $head;
  }
  &__title {
    @include head-title;
    color: $orange;
    margin-bottom: 40px;
  }
}
.head__lines {
  &_left {
    position: absolute;
    border-bottom: 1px solid $orange;
    width: 210px;
    bottom: 0px;
    left: -100px;
  }
  &_right {
    position: absolute;
    border-bottom: 1px solid $orange;
    width: 210px;
    bottom: 0px;
    right: -100px;
  }
  &_bottom {
    content: "";
    position: absolute;
    top: 120%;
    left: 50%;
    width: 1px;
    height: 560px;
    background-color: $orange;
  }
}
