@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.head {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 110px;
  text-align: center;
}
.head__text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #898f8f;
}
.head__title {
  font-size: 60px;
  line-height: 66px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #ffcc00;
  margin-bottom: 40px;
}

.head__lines_left {
  position: absolute;
  border-bottom: 1px solid #ffcc00;
  width: 210px;
  bottom: 0px;
  left: -100px;
}
.head__lines_right {
  position: absolute;
  border-bottom: 1px solid #ffcc00;
  width: 210px;
  bottom: 0px;
  right: -100px;
}
.head__lines_bottom {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  width: 1px;
  height: 560px;
  background-color: #ffcc00;
}

.photo {
  padding: 22px;
  width: 43%;
  background-image: linear-gradient(to right, #ffcc00 100px, transparent 100px, transparent 320px, #ffcc00 320px), linear-gradient(to right, #ffcc00 100px, transparent 100px, transparent 320px, #ffcc00 320px), linear-gradient(to bottom, #ffcc00 100px, transparent 100px, transparent 320px, #ffcc00 320px), linear-gradient(to bottom, #ffcc00 100px, transparent 100px, transparent 320px, #ffcc00 320px);
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: no-repeat;
}
.photo__pic {
  border: 1px solid #ffcc00;
  max-width: 100%;
}

.social-icons__pic {
  width: 30px;
  height: 30px;
  fill: #cccc;
}
.social-icons__pic:hover {
  fill: #ffcc00;
}

.info {
  width: 42%;
  height: 42%;
  padding: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.info__name {
  font-size: 36px;
  font-family: "roboto", sans-serif;
  line-height: 24px;
  color: #666666;
  padding: 15px 0 30px;
  position: relative;
}
.info__name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  height: 1px;
  background: #ffcc00;
}
.info__work {
  font-size: 24px;
  font-family: "raleway", sans-serif;
  line-height: 36px;
  font-weight: 300;
  color: #666666;
  margin: 30px 0;
}
.info__text {
  font-size: 14px;
  font-family: "raleway", sans-serif;
  line-height: 24px;
  font-weight: 500;
  color: #666666;
  padding: 30px 0 25px;
  position: relative;
}
.info__text::after {
  content: "—";
  color: #ffcc00;
  position: absolute;
  font-size: 30px;
  bottom: 0;
  left: 47%;
}

.profile-btn {
  margin: 25px 0 0;
}
.profile-btn__link {
  font-size: 14px;
  font-family: "raleway", sans-serif;
  line-height: 24px;
  font-weight: 500;
  color: #666666;
  border: 1px solid #ffcc00;
  font-weight: bold;
  padding: 6px 12px;
}

.slider {
  margin-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio {
  width: 10px;
  height: 10px;
  border: 1px solid #ffcc00;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  background-color: #ffcc00;
}
.radio:hover {
  background-color: #ffff;
}

.section {
  max-width: 1920px;
  min-width: 375px;
  margin: 0 auto;
}

.inner {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inner::before {
  cursor: pointer;
  position: absolute;
  content: "";
  border: solid #ffcc00;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  left: 5px;
  top: 60%;
}
.inner::after {
  cursor: pointer;
  position: absolute;
  content: "";
  border: solid #ffcc00;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 5px;
  top: 60%;
}

.container {
  max-width: 1005px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 125px 5px;
}

@media screen and (max-width: 767px) {
  .container {
    display: block;
    padding: 70px 5px;
  }

  .head__lines_bottom {
    display: none;
  }

  .head__lines_right {
    width: 75px;
    right: 50px;
  }

  .head__lines_left {
    width: 75px;
    left: 50px;
  }

  .photo {
    width: 80%;
    margin: 0 auto;
  }

  .info {
    width: 80%;
    margin: 0 auto;
  }
}